.toggleDiv {
  background: linear-gradient(to right, lightgray 50%, indigo 50%);
  background-size: 200% 100%;
  background-position: left bottom;
  transition: background-position 0.3s;
}
.toggleChecked .toggleDiv {
  background-position: -100% 0;
}

.toggleBtn {
  transition: ease-in-out 0.2s;
}
.toggleChecked .toggleBtn {
  left: 44px;
}
.toggleInput {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
